__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
*.db
*.sqlite3
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
dist/
build/
*.egg-info/
.eggs/
.pytest_cache/
streamlit/.streamlit/

# Project specific
*.log
models/
config.yaml
